<a href="https://colab.research.google.com/github/ykitaguchi77/Laboratory_course/blob/master/3.%20Python%E3%81%AE%E5%9F%BA%E6%9C%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pythonの基本<br>

おすすめ自習サイト
1. Progate　有名
2. CODEPREP スマホでやりやすい
3. Udemy　優良だがキャンペーン中に購入すると1000円とちょっとで買える

ある程度進んだら、あとはwebで検索しながらで十分！

#Listについて
https://www.sejuku.net/blog/23633

In [1]:
#Listの初期化
mylist = []

mylist = [1,2,3,4]
print(mylist)

[1, 2, 3, 4]

In [2]:
#リストの後ろに追加
mylist.append(5)
print(mylist)

[1, 2, 3, 4, 5]

In [3]:
#リストの結合
mylist.extend([3,5,8])
print(mylist)

[1, 2, 3, 4, 5, 3, 5, 8]

In [4]:
#要素の数
length = len(mylist)
print(length)

8

In [9]:
#リストのスライス
mylist2 = mylist[1:5] #0からスタートであることに注意
print(mylist2)

[2, 3, 4, 5]

In [27]:
mylist = ['Japanese', 'English', 'French']
print('私が話せる言語は、'+ mylist[0]+ 'と'+ mylist[1]+ 'です')

私が話せる言語は、JapaneseとEnglishです

#FOR構文

In [19]:
mylist = [1, 2, 3, 4, 5, 3, 5, 8]

for i in mylist:
  print(i)

1
2
3
4
5
3
5
8

In [20]:
mylist = ['Japanese', 'English', 'French']

for i in mylist:
  print(i)

Japanese
English
French

In [15]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [18]:
k=0
for i in range(10):
  k+=i
  print(k)

0
1
3
6
10
15
21
28
36
45

In [22]:
for i in range(5,10):
  print(i)

5
6
7
8
9

In [24]:
for i in range(100):
  print(i)

  if i == 25:
    print('ここまで')
    break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
ここまで

#CSVファイルの操作

In [251]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import csv

#ファイルがなければ勝手に作成してくれる
with open('/content/drive/My Drive/test.csv','w') as f:
    writer = csv.writer(f)
    writer.writerow(['Menu','stock', 'Price'])
    writer.writerow(['スパム',10,500])
    writer.writerow(['卵',20,168])
    writer.writerow(['ベーコン',15,250])
    writer.writerow(['レタス',5,200])
    writer.writerow(['total','',''])

csvモジュールを用いた読み込み

In [253]:
with open('/content/drive/My Drive/test.csv','r') as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['Menu', 'stock', 'Price']
['スパム', '10', '500']
['卵', '20', '168']
['ベーコン', '15', '250']
['レタス', '5', '200']
['total', '', '']

PANDASモジュールを使った読み書き（一括変換ができる）

In [254]:
import pandas as pd

df = pd.read_csv('/content/drive/My Drive/test.csv', index_col=None, header =0,
                     delimiter=r",\s*", engine="python")
print(df)

    Menu  stock  Price
0    スパム   10.0  500.0
1      卵   20.0  168.0
2   ベーコン   15.0  250.0
3    レタス    5.0  200.0
4  total    NaN    NaN

In [256]:
print(df.index.values)
print(df.columns.values)

[0 1 2 3 4]
['Menu' 'stock' 'Price']

In [255]:
print(df.iloc[1:3]) #2行目から3行目まで（0から始まるので注意）

   Menu  stock  Price
1     卵   20.0  168.0
2  ベーコン   15.0  250.0

In [257]:
print(df.iloc[:, 1:3]) #2列目から3列目（0から始まるので注意）

   stock  Price
0   10.0  500.0
1   20.0  168.0
2   15.0  250.0
3    5.0  200.0
4    NaN    NaN

In [258]:
total_stock = sum(df.iloc[0:3, 1])
total_price = sum(df.iloc[0:3, 2])

df.iloc[4,1] = total_stock
df.iloc[4,2] = total_price

print(df)
df.to_csv('/content/drive/My Drive/test.csv',index=0)

    Menu  stock  Price
0    スパム   10.0  500.0
1      卵   20.0  168.0
2   ベーコン   15.0  250.0
3    レタス    5.0  200.0
4  total   45.0  918.0

In [259]:
df = pd.read_csv('/content/drive/My Drive/test.csv',
                     delimiter=r",\s*", header =0,  engine="python")
print(df)

    Menu  stock  Price
0    スパム   10.0  500.0
1      卵   20.0  168.0
2   ベーコン   15.0  250.0
3    レタス    5.0  200.0
4  total   45.0  918.0